@font-face {
    font-family: ArchitectsDaughter;
    src: url("assets/fonts/ArchitectsDaughter.ttf");
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	margin: 0;
	padding: 0;

	font-family: ArchitectsDaughter;
    color: #08ebfe;
    cursor: default;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

body {
    background-color: black;
}

button {
	background-color: #000000;
	border: 2px solid #08ebfe;
    color: #08ebfe;
	border-radius: 2px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
	height: 48px;
	outline: none;
}

button:hover {
	background-color: #00191d;
}

button:active {
	background-color: #003f45;
}

button span {
    color: #08ebfe;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-weight: bold;
}

button span:after {
	content: '>';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

button:hover span {
	padding-right: 25px;
}

button:hover span:after {
	opacity: 1;
	right: 0;
}

.nospace {
	margin-bottom: 0px !important;
}

.centred {
	margin: 0 auto;
}

.content {
	min-height: calc(100% - 48px);
}

input[type = checkbox] {
	display:none;
}

input[type = checkbox] + label {
	background: url("assets/images/soundsOff.png") no-repeat;
	background-size: 100%;
	height: 100px;
	width: 100px;
	display: inline-block;
	padding: 0 0 0 0px;
}

input[type = checkbox]:checked + label {
	background: url("assets/images/soundsOn.png") no-repeat;
	background-size: 100%;
	height: 100px;
	width: 100px;
	display: inline-block;
	padding: 0 0 0 0px;
}

.blue {
    color: #08ebfe;
}

.gray {
    color: #949494;
}

.black {
    color: #000000;
}

.white {
    color: #FFFFFF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: bold;
}