#container {
	height: auto;
	width: auto;
	position: relative;
}

#gameContainer, #gui {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
}

#gamePlay {
    display: none;
}

#menu, #gameOver, #win, #about, #settings {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left:  -150px;
    margin-top: -300px;
    width: 300px;
    height: 300px;
    background-color: #000000;
    opacity: 0.9;
    border-radius: 2px;
    padding: 10px;
}

#menu {

}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#gamePlay {
    overflow: hidden;
}

#shop {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 320px;
}

#shopItem {
    background-color: #949494;
    border-radius: 2px;
    width: 300px;
    height: 74px;
    margin-bottom: 10px;
}

#shopItemInner {
    width: 275px;
    padding: 5px;
}

#shop:last-child {
    margin-bottom: 0px;
}

.itemIcon {
    width: 64px;
    height: 64px;
}

#gameOver {

}

#left-panel {
    left: 0;
    position: fixed;
    width: 178px;
    height: 100%;
    border-right: solid #08ebfe 2px;
    background-color: #000000;
    padding: 10px;
}

#right-panel {
    right: 0;
    position: fixed;
    width: 278px;
    height: 100%;
    border-left: solid #08ebfe 2px;
    background-color: #000000;
    padding: 10px;
}

#settings {

}

#about {

}

#music + label {
	background: url("assets/images/musicOff.png") no-repeat;
	background-size: 100%;
	height: 50px;
	width: 50px;
	display: inline-block;
	padding: 0 0 0 0px;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}

#music:checked + label {
	background: url("assets/images/musicOn.png") no-repeat;
	background-size: 100%;
	height: 50px;
	width: 50px;
	display: inline-block;
	padding: 0 0 0 0px;
}

#sounds + label {
	background: url("assets/images/soundsOff.png") no-repeat;
	background-size: 100%;
	height: 50px;
	width: 50px;
	display: inline-block;
	padding: 0 0 0 0px;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

#sounds:checked + label  {
	background: url("assets/images/soundsOn.png") no-repeat;
	background-size: 100%;
	height: 50px;
	width: 50px;
	display: inline-block;
	padding: 0 0 0 0px;
}